body {
    margin: 0;
    min-width: 250px;
}

/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
}

/* Remove margins and padding from the list */
section {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Style the list items */
section div {
    padding: 10px 10px 10px 10px;
    background: #eee;
    font-size: 20px;
    transition: 0.2s;
}

/* Set all odd list items to a different color (zebra-stripes) */
section div:nth-child(odd) {
    background: #f9f9f9;
}

/* Style the close button */
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.checked {
    text-decoration: line-through;
}

/* Style the header */
.header {
    background-color: teal;
    padding: 20px 20px;
    color: white;
    text-align: center;
}

/* Style the footer */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: teal;
    padding: 20px 20px;
    color: white;
    text-align: center;
}

/* Clear floats after the header */
.header:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the input */
div input {
    margin: 12px;
}

#myInput {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 80%;
    padding: 10px;
    float: left;
    font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
    padding: 10px;
    width: 20%;
    background: darkgray;
    color: white;
    font-weight: bolder;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}

.addBtn:hover {
    background-color: #bbb;
}

#filter {
    display: flex;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
    border: solid 1px darkgray;
}
