/* HTML selectors */
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li:first-child {
    display: block;
}

nav ul li {
    display: none;
}

ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
}

/* Class selectors */
.show li {
    display: block;
}

/* Id selectors */#notesWeek2 {
    display: none;
}
