/* HTML selectors */
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li:first-child {
    display: block;
}

nav ul li {
    display: none;
}

ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* Class selectors */
.show li {
    display: block;
}

label {
    display: inline-block;
    min-width: 105px;
    text-align: right;
    padding: 5px;
}

.inputs {
    width: 160px;
}

#buttons {
    padding: 5px;
    margin-left: 115px;
}

/* Id selectors */